.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-layout-wrap-1 {
  width: 980px;
  margin: 26px 67px 60px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 335px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-image-1 {
  width: 249px;
  height: 123px;
  margin: 37px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-family: "Sigmar One";
  text-shadow: 2px 2px 8px rgba(26,26,26,1);
  margin: 35px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 335px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 18px;
}

.u-section-1 .u-image-2 {
  margin-bottom: 0;
  margin-top: 35px;
  height: 172px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-family: "Sigmar One";
  text-shadow: 2px 2px 8px rgba(26,26,26,1);
  margin: 18px 1px 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 335px;
}

.u-section-1 .u-container-layout-3 {
  padding: 21px 0;
}

.u-section-1 .u-image-3 {
  height: 147px;
  width: 222px;
  margin: 22px auto 0 31px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-family: "Sigmar One";
  text-shadow: 2px 2px 8px rgba(26,26,26,1);
  margin: 35px 0 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 371px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-4 {
  width: 197px;
  height: 199px;
  margin: 15px auto 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-family: "Sigmar One";
  text-shadow: 2px 2px 8px rgba(26,26,26,1);
  margin: 22px 1px 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 371px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 15px;
}

.u-section-1 .u-text-5 {
  font-weight: 500;
  font-family: Atma;
  margin: 22px 20px 0;
}

.u-section-1 .u-text-6 {
  font-family: Atma;
  font-size: 1.25rem;
  width: 167px;
  margin: 19px auto 0;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 371px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-image-5 {
  margin-bottom: 0;
  margin-top: 18px;
  height: 193px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-family: "Sigmar One";
  text-shadow: 2px 2px 8px rgba(26,26,26,1);
  margin: 25px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 59px;
  }

  .u-section-1 .u-layout-wrap-1 {
    min-height: 279px;
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    pointer-events: auto;
    background-position: 50% 50%;
    min-height: 321px;
  }

  .u-section-1 .u-image-1 {
    width: 247px;
    height: 122px;
  }

  .u-section-1 .u-layout-cell-2 {
    pointer-events: auto;
    background-position: 50% 50%;
    min-height: 321px;
  }

  .u-section-1 .u-image-2 {
    height: 165px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    background-position: 50% 50%;
    min-height: 321px;
  }

  .u-section-1 .u-layout-cell-4 {
    background-position: 50% 50%;
    min-height: 356px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 27px;
    margin-left: 27px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 356px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 14px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 356px;
  }

  .u-section-1 .u-image-5 {
    height: 185px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 779px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 173px;
    height: 85px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    height: 126px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-image-3 {
    height: 129px;
    width: 195px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-image-4 {
    width: 173px;
    height: 151px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-image-5 {
    height: 142px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2321px;
  }

  .u-section-1 .u-layout-wrap-1 {
    min-height: 1722px;
    width: 540px;
  }

  .u-section-1 .u-image-2 {
    height: 269px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    height: 290px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1465px;
  }

  .u-section-1 .u-layout-wrap-1 {
    min-height: 759px;
    width: 340px;
  }

  .u-section-1 .u-image-2 {
    height: 166px;
  }

  .u-section-1 .u-image-5 {
    height: 183px;
  }
}